.car-header-info {
  display: flex;
  justify-content: start;
  font-size: 18px;
  margin: 16px 0;
}

.car-header-info p {
  padding: 0 6px;
  margin: 0;
}

.car-header-info a {
  text-decoration: none;
  color: black;
}

.car-main-info {
  display: flex;
  margin: 32px 0;
}

.car-main-specs {
  margin-left: 40px;
  box-shadow: 3px 3px 3px rgba(169, 169, 169, 0.4);
  border-radius: 8px;
  padding: 16px;
  height: 400px;
  overflow: scrollr;
  text-align: left;
}

#cars-carousel {
  display: flex;
  overflow: hidden;
  // position: relative;
}

.car-show-item img {
  width: 100%;
  height: 400px !important;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px !important;
}

.carousel-item a:last-child {
  margin-right: 0;
}

#car-show-main-header a {
  text-decoration: none;
  color: black;
}

#btn-book a {
  padding: 8px 12px;
  background-color: rgba(169, 169, 169, 0.5);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  display: inline-block;
}

#btn-book a:hover {
  text-decoration: none;
  color: black;
  transition: 0.7s ease;
}
