// Specific CSS for your home-page
#punchline {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.btn {
  background-color: $main;
  border-color: $main;
  color: white;

  &:hover {
    background-color: $secondary;
    border-color: $secondary;
  }
}
