

<footer class="bg-body-tertiary text-center footer">
  <div class="d-flex justify-content-end p1" >
    <span class="justify-content-center">&copy; 2023 Copyright</span>
      <div class="container p-1">
        <section class="">
          <div class="d-flex justify-content-center  align-items-center">
            <div class="px-2 ">
              <p class="">Created By</p>
            </div>
            <div class="px-2 d-flex">
              <a href="https://github.com/Ches-ctrl" target="_blank" rel="noopener noreferrer">
                <div class="rounded-circle overflow-hidden d-inline-block" style="width: 25px; height: 25px; background-color: #fff; margin-right: 3px;">
                  <img src="https://avatars.githubusercontent.com/u/65985457?v=4" class="w-100 h-100 rounded-circle" style="object-fit: cover;">
                </div>
              </a>
              <p>Charlie</p>
            </div>
            <div class="px-2 d-flex">
              <a href="https://github.com/obreil54" target="_blank" rel="noopener noreferrer">
                <div class="rounded-circle overflow-hidden d-inline-block" style="width: 25px; height: 25px; background-color: #fff; margin-right: 3px;">
                  <img src="https://avatars.githubusercontent.com/u/89271092?v=4" class="w-100 h-100 rounded-circle" style="object-fit: cover;">
                </div>
              </a>
              <p> Ilya</p>
            </div>
            <div class="px-2 d-flex">
              <a href="https://github.com/Direncan89" target="_blank" rel="noopener noreferrer">
                <div class="rounded-circle overflow-hidden d-inline-block" style="width: 25px; height: 25px; background-color: #fff; margin-right: 3px;">
                  <img src="https://avatars.githubusercontent.com/u/120759679?v=4" class="w-100 h-100 rounded-circle" style="object-fit: cover;">
                </div>
              </a>
              <p class=>Direncan</p>
            </div>
            <div class="px-2 d-flex">
              <a href="https://github.com/Debaerecharlotte" target="_blank" rel="noopener noreferrer">
                <div class="rounded-circle overflow-hidden d-inline-block" style="width: 25px; height: 25px; background-color: #fff; margin-right: 3px;">
                  <img src="https://avatars.githubusercontent.com/u/128391812?v=4" class="w-100 h-100 rounded-circle" style="object-fit: cover;">
                </div>
              </a>
              <p class=>Charlotte</p>
            </div>
          </div>
        </section>
      </div>
    <a class="text-body ml-2" href="https://github.com/Ches-ctrl/Rentr">Cheddar INC</a>
  </div>
</footer>
