<div class="background" id="landing-page-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 d-flex flex-column justify-content-center align-items-center mx-auto" style="height: 650px">
        <div id="punchline" class="d-flex flex-column align-items-center landing-page-container text-center ">
          <h1 class="display-1">Rent your next adventure </h1>
          <h2 class="display-4">Everything you need to rent a high-end electric vehicle</h2>
          <%= link_to "Start your journey", cars_path, class: "btn-lg mt-4 text-center" %>
        </div>
      </div>
    </div>
  </div>
</div>
