.navbar-lewagon {
  justify-content: space-between;
  background: white;

  a {
    color: $main;

    &:hover {
      color: $secondary;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item {
  margin: 0 6px;
}

#search-form {
  background: #F4F4F4;
  position: sticky;
  top: 60px; /* Height of the navbar */
  z-index: 1020; /* Make sure this is less than the navbar's z-index if the navbar is also sticky */
}

.form-input {
  width: 150px;
}

// .location-input {
//   width: 100px;
// }

.navbar-dropdown {
  z-index: 920;
}
