<div class="container-fluid mt-2" data-controller="toggle">
  <div class="row">

    <%# Search and Switch %>
    <div id="search-form" class="col-12 d-flex justify-content-between align-items-center pb-2"> <!-- Added mb-3 for margin-bottom space under the switch -->
      <div class="col-4">
        <%= render partial: 'search' %>
      </div>
      <div class="d-flex align-items-center">
        <span class="me-2">See map</span> <!-- Text before the switch -->
        <label class="switch">
          <input type="checkbox" data-action="click->toggle#toggleMap">
          <span class="slider round"></span>
        </label>
        <span class="ms-2">See cars</span> <!-- Text after the switch -->
      </div>
    </div>

    <%# Cars %>
    <div id="cars-column" class="col-md-6" data-target="toggle.carsColumn">
      <div class="row"> <!-- This row will contain the grid of car cards -->
        <% Car.where.not(user: current_user).each do |car| %> <!-- Loop over each car, that is not the user's own car -->
          <!-- Adjust the column size here for the desired number of cards per row, e.g., 'col-sm-6' for 2 cards per row on small screens and 'col-xl-4' for 3 cards per row on extra large screens -->
          <div class="col-sm-12 col-xl-6 mb-4">
            <%= render partial: 'car', locals: { car: car } %> <!-- Render the partial for each car -->
          </div>
        <% end %>
      </div>
    </div>

    <%# Map %>
    <div id="map-column" class="col-md-6" style="height: 100vh;" data-target="toggle.mapColumn"> <!-- This will take the other half -->
      <div style="width: 100%; height: 100%; border: 1px solid #ccc; border-radius: 15px; overflow: hidden;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <!-- Your map will be here -->
      </div>
    </div>

  </div>
</div>
